
body {
  background-color:rgb(245, 245, 220);
}
h1, h2, h3 {
  font-family:helvetica,sans-serif;
  color:rgb(169, 169, 169);
  margin-left:20px;
}
.topaz {
  position:absolute;
  left:60px;
  top:118px;
  background-color:rgb(255, 255, 240); 
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-right:40px;
}
.sapphire {
  position:absolute;
  left:28px;
  top:230px; 
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-right:40px;
}
.peridot {
  position:absolute;
  left:260px;
  top:70px; 
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-right:40px;
}
.amethyst {
  position:absolute;
  left:252px;
  top:240px; 
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-right:40px;
}
.onyx {
  position:absolute;
  left:500px;
  top:52px; 
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-right:40px;
}
.agate {
  position:absolute;
  left:768px;
  top:100px; 
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-right:40px;
}
.beryl {
  position:absolute;
  left:780px;
  top:230px; 
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px; 
  padding-right:40px;
}
.logo {
  position:absolute;
  left:70px;
  top:420px; 
}
.attr {
  font-family:helvetica,sans-serif;
  font-size:16px;
  color:rgb(192, 192, 192);
}
.ftr {
  position:absolute;
  left:40px;
  top:590px;
}
.key {
  font-family:consolas,monospace;
  color:rgb(169, 169, 169);
}
.obv {
  position:absolute;
  left:100px;
  top:100px;
  font-family:consolas,monospace;
  font-size:20px;
  color:rgb(128, 128, 0);
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px; 
  padding-left:20px;
  padding-right:20px;
}
.rev {
  position:absolute;
  left:100px;
  top:350px;
  font-family:consolas,monospace;
  font-size:20px;
  color:rgb(128, 128, 0);
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px; 
  padding-left:20px;
  padding-right:20px;
}
.srl {
  position:absolute;
  left:40px;
  top:15px;
  font-family:consolas,monospace;
  font-size:20px;
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:10px;
  padding-right:40px;
}
.sug {
  position:absolute;
  left:100px;
  top:100px;
  font-family:helvetica,sans-serif;
  font-size:24px;
  color:rgb(128, 128, 0);
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding-left:20px;
  padding-right:20px;
}
.ui {
  text-align:center;
  font-family:consolas,monospace;
  font-size:20px;
}
ul {
  list-style-type:none;
}
a:link {
  text-decoration:none;
  color:rgb(178, 34, 34);
}
a:visited {
  text-decoration:none;
  color:rgb(178, 34, 34);
}
a:hover {
  text-decoration:underline;
  color:rgb(128, 0, 0);
}

