
body {
  margin:0;
  padding:0;
  background-color:rgb(245, 245, 220);
}
h1 {
  font-family:helvetica,sans-serif;
  color:rgb(169, 169, 169);
  margin:24px 0 0 32px;
}
#ui {
  text-align:center;
  font-family:consolas,monospace;
  font-size:20px;
}
#topaz {
  position:absolute;
  left:60px;
  top:118px;
}
#sapphire {
  position:absolute;
  left:28px;
  top:230px; 
}
#peridot {
  position:absolute;
  left:250px;
  top:70px;
}
#amethyst {
  position:absolute;
  left:242px;
  top:248px;
}
#onyx {
  position:absolute;
  left:480px;
  top:52px;
}
#agate {
  position:absolute;
  left:738px;
  top:100px;
}
#beryl {
  position:absolute;
  left:750px;
  top:230px;
}
.nav {
  background-color:rgb(255, 255, 240); 
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding:0 32px 0 32px;
}
ul {
  list-style-type:none;
  padding:0;
}
a {
  text-decoration:none;
  color:rgb(178, 34, 34);
}
a:hover {
  text-decoration:underline;
  color:rgb(128, 0, 0);
}
#logo {
  position:absolute;
  left:70px;
  top:420px; 
}
#srl {
  position:absolute;
  left:40px;
  top:15px;
  font-family:consolas,monospace;
  font-size:20px;
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding:0 32px 0 32px;
}
#obv {
  position:absolute;
  left:100px;
  top:100px;
  font-family:consolas,monospace;
  font-size:20px;
  color:rgb(128, 128, 0);
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding:0 20px 0 20px;
}
#rev {
  position:absolute;
  left:100px;
  top:350px;
  font-family:consolas,monospace;
  font-size:20px;
  color:rgb(128, 128, 0);
  background-color:rgb(255, 255, 240);
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding:0 20px 0 20px;
}
.key {
  font-family:consolas,monospace;
  color:rgb(169, 169, 169);
}
#sug {
  position:absolute;
  left:100px;
  top:100px;
  font-family:helvetica,sans-serif;
  font-size:24px;
  color:rgb(128, 128, 0);
  background-color:rgb(255, 255, 240); 
  border:2px solid rgb(211, 211, 211);
  border-radius:15px;
  padding:0 20px 0 20px;
}
#ftr {
  position:absolute;
  left:40px;
  top:590px;
}
.attr {
  font-family:helvetica,sans-serif;
  font-size:16px;
  color:rgb(169, 169, 169);
}
@media screen and ( max-width:999px ) {
h1 {
  margin:10px;
  text-align:center;
}
#topaz {
  position:relative;
  left:0;
  top:0;
}
#sapphire {
  position:relative;
  left:0;
  top:0;
}
#peridot {
  position:relative;
  left:0;
  top:0;
}
#amethyst {
  position:relative;
  left:0;
  top:0;
}
#onyx {
  position:relative;
  left:0;
  top:0;
}
#agate {
  position:relative;
  left:0;
  top:0;
}
#beryl {
  position:relative;
  left:0;
  top:0;
}
.nav {
  width:220px;
  margin:0 auto 0 auto;
  border:1px solid rgb(211, 211, 211);
}
.nav li {
  margin:1em 0 1em 0;
}
#logo {
  position:relative;
  left:0;
  top:0;
  padding:20px 0 0 0;
  text-align:center;
}
#srl {
  position:relative;
  left:0;
  top:0;
  width:112px;
  margin:0 auto 0 auto;
  border:1px solid rgb(211, 211, 211);
  border-radius:10px; 
  text-align:center;
  font-size:12px;
  font-weight:bold;
}
#srl ul {
  margin:10px 0 10px 0;
}
#obv {
  position:relative;
  left:0;
  top:0;
  width:420px;
  margin:0 auto 0 auto;
  border:1px solid rgb(211, 211, 211);
  font-size:12px;
}
#rev {
  position:relative;
  left:0;
  top:0;
  width:420px;
  margin:0 auto 0 auto;
  border:1px solid rgb(211, 211, 211);
  font-size:12px;
}
.key {
  color:rgb(128, 128, 128);
}
#sug {
  position:relative;
  left:0;
  top:0;
  width:250px;
  margin:0 auto 0 auto;
  border:1px solid rgb(211, 211, 211);
  text-align:center;
  font-size:18px;
}
#ftr {
  position:relative;
  left:0;
  top:0;
  text-align:center;
}
.attr {
  font-size:14px;
}
}

