
body {
  background-color:beige;
}
h1, h2, h3 {
  font-family:sans-serif;
  color:darkgrey;
  margin-left:20px;
}
.topaz {
  position:absolute;
  left:60px;
  top:118px;
  background-color:ivory; 
  border:2px solid lightgrey;
  border-radius:15px;
  padding-right:40px;
}
.sapphire {
  position:absolute;
  left:28px;
  top:230px; 
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px;
  padding-right:40px;
}
.peridot {
  position:absolute;
  left:260px;
  top:80px; 
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px;
  padding-right:40px;
}
.amethyst {
  position:absolute;
  left:250px;
  top:230px; 
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px;
  padding-right:40px;
}
.onyx {
  position:absolute;
  left:500px;
  top:52px; 
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px;
  padding-right:40px;
}
.agate {
  position:absolute;
  left:768px;
  top:100px; 
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px;
  padding-right:40px;
}
.beryl {
  position:absolute;
  left:780px;
  top:230px; 
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px; 
  padding-right:40px;
}
.logo {
  position:absolute;
  left:70px;
  top:420px; 
}
.attr {
  font-family:sans-serif;
  font-size:16px;
  color:silver;
}
.ftr {
  position:absolute;
  left:40px;
  top:580px;
}
.key {
  font-family:consolas,monospace;
  color:darkgrey;
}
.obv {
  position:absolute;
  left:100px;
  top:100px;
  font-family:consolas,monospace;
  font-size:20px;
  color:olive;
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px; 
  padding-left:20px;
  padding-right:20px;
}
.rev {
  position:absolute;
  left:100px;
  top:350px;
  font-family:consolas,monospace;
  font-size:20px;
  color:olive;
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px; 
  padding-left:20px;
  padding-right:20px;
}
.srl {
  position:absolute;
  left:40px;
  top:15px;
  font-family:consolas,monospace;
  font-size:20px;
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:10px;
  padding-right:40px;
}
.sug {
  position:absolute;
  left:100px;
  top:100px;
  font-family:sans-serif;
  font-size:24px;
  color:olive;
  background-color:ivory;
  border:2px solid lightgrey;
  border-radius:15px;
  padding-left:20px;
  padding-right:20px;
}
.ui {
  text-align:center;
  font-family:consolas,monospace;
  font-size:20px;
}
ul {
  list-style-type:none;
}
a:link {
  text-decoration:none;
  color:maroon;
}
a:hover {
  text-decoration:underline;
  background-color:ivory;
}
a:visited {
  color:maroon;
}
