<div class="srl">
 <ul>
  <li><a href="/"><span id='qe'></span></a></li>
 </ul>
</div>
<div class="sug">
<h1>Not found 404</h1>
<p>Move along, this is not the page you're looking for.</p>
</div>
<script>
 var nt = new Date();
 var sr = document.getElementById("qe");
 sr.innerHTML=nt.getTime();
</script>
<div class="ftr">
</div>