<h1>EADGBE</h1>
<div class="ui">
<div class="topaz">
<ul>
 <li><a href="/n0_n0">n0_n0</a></li>
</ul>
</div>
<div class="sapphire">
<ul>
 <li><a href="/k6_j5">k6_j5</a></li>
 <li><a href="/j17_k34">j17_k34</a></li>
 <li><a href="/k6x5_j5y6">k6x5_j5y6</a></li>
 <li><a href="/j17y2_k34x2">j17y2_k34x2</a></li>
</ul>
</div>
<div class="peridot">
<ul>
 <li><a href="/j3_k1">j3_k1</a></li>
 <li><a href="/j17k2_j2k34">j17k2_j2k34</a></li>
 <li><a href="/n26y5_n25x6">n26y5_n25x6</a></li>
 <li><a href="/k26x5_j25y6">k26x5_j25y6</a></li>
</ul>
</div>
<div class="amethyst">
<ul>
 <li><a href="/j6_k5">j6_k5</a></li>
 <li><a href="/j36_k15">j36_k15</a></li>
 <li><a href="/k56_j56">k56_j56</a></li>
 <li><a href="/j136y7_k135x4">j136y7_k135x4</a></li>
 <li><a href="/k56x4_j56y7">k56x4_j56y7</a></li>
 <li><a href="/n167x4_n345y7">n167x4_n345y7</a></li>
 <li><a href="/j3k5x4_k1j6y7">j3k5x4_k1j6y7</a></li>
 <li><a href="/j167y2_k345x2">j167y2_k345x2</a></li>
</ul>
</div>
<div class="onyx">
<ul>
 <li><a href="/j2_k2">j2_k2</a></li>
 <li><a href="/j236_k125">j236_k125</a></li>
 <li><a href="/j26_k25">j26_k25</a></li>
 <li><a href="/j23_k12">j23_k12</a></li>
 <li><a href="/j23k6_k12j5">j23k6_k12j5</a></li>
 <li><a href="/j2y3_k2x1">j2y3_k2x1</a></li>
 <li><a href="/j2k6_k2j5">j2k6_k2j5</a></li>
 <li><a href="/j26y3_k25x1">j26y3_k25x1</a></li>
 <li><a href="/j2k56_k2j56">j2k56_k2j56</a></li>
 <li><a href="/j246y3_k257x1">j246y3_k257x1</a></li>
 <li><a href="/j2k56x4_k2j56y7">j2k56x4_k2j56y7</a></li>
 <li><a href="/k157x6_j346y5">k157x6_j346y5</a></li>
 <li><a href="/j26y34_k25x17">j26y34_k25x17</a></li>
 <li><a href="/j2k6x5_k2j5y6">j2k6x5_k2j5y6</a></li>
 <li><a href="/j2k6y3_k2j5x1">j2k6y3_k2j5x1</a></li>
 <li><a href="/k1j6_j3k5">k1j6_j3k5</a></li>
 <li><a href="/n345_n167">n345_n167</a></li>
</ul>
</div>
<div class="agate">
<ul>
 <li><a href="/j3k6_k1j5">j3k6_k1j5</a></li>
 <li><a href="/n45y2_n67x2">n45y2_n67x2</a></li>
</ul>
</div>
<div class="beryl">
<ul>
 <li><a href="/k2j6_j2k5">k2j6_j2k5</a></li>
 <li><a href="/n5y2_n6x2">n5y2_n6x2</a></li>
 <li><a href="/k26_j25">k26_j25</a></li>
 <li><a href="/k256_j256">k256_j256</a></li>
</ul>
</div>
</div>
<div class="logo">
 <img src="/image/nautilyph.png" alt="logo" width="128" height="128"/>
</div>
<div class="ftr">
 <p class="attr">Copyright &#169; 2013 Reid Netterville III</p>
</div>
