<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j136y7</span>
<script>
  gstd(j136y7);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k135x4</span>
<script>
  gstd(k135x4);
</script>
</pre>
</div>
<script>
  serialism();
</script>
