<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j17</span>
<script>
  gstd(j17);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k34</span>
<script>
  gstd(k34);
</script>
</pre>
</div>
<script>
  serialism();
</script>
