<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j17y2</span>
<script>
  gstd(Aragonite.j17y2);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k34x2</span>
<script>
  gstd(Aragonite.k34x2);
</script>
</pre>
</div>
<script>
  serialism();
</script>
