<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j23</span>
<script>
  gstd(j23);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k12</span>
<script>
  gstd(k12);
</script>
</pre>
</div>
<script>
  serialism();
</script>
