<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j23</span>
<script>
  gstd(Aragonite.j23);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k12</span>
<script>
  gstd(Aragonite.k12);
</script>
</pre>
</div>
<script>
  serialism();
</script>
