<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j246y3</span>
<script>
  gstd(j246y3);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k257x1</span>
<script>
  gstd(k257x1);
</script>
</pre>
</div>
<script>
  serialism();
</script>
