<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j26y3</span>
<script>
  gstd(j26y3);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k25x1</span>
<script>
  gstd(k25x1);
</script>
</pre>
</div>
<script>
  serialism();
</script>
