<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j2</span>
<script>
  gstd(j2);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k2</span>
<script>
  gstd(k2);
</script>
</pre>
</div>
<script>
  serialism();
</script>
