<div class="srl">
 <ul>
  <li><a href="/"><span id='qe'></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j2k56x4</span>
<script>
  var o=j2k56x4;
  gstd()
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k2j56y7</span>
<script>
  var o=k2j56y7;
  gstd()
</script>
</pre>
</div>
<script>
  serialism()
</script>
<div class="ftr">
<p class="attr">
Copyright &#169; 2013 Reid Netterville III</p>
</div>