<div class="srl">
 <ul>
  <li><a href="/"><span id='qe'></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j2k56</span>
<script>
 var d=document, o=j2k56, z=k2j56;
 d.writeln(o.slice(20,60).concat(o.slice(0,20)))
 d.writeln(o.slice(55,60).concat(o.slice(0,55)))
 d.writeln(o.slice(35,60).concat(o.slice(0,35)))
 d.writeln(o.slice(10,60).concat(o.slice(0,10)))
 d.writeln(o.slice(45,60).concat(o.slice(0,45)))
 d.writeln(o.slice(20,60).concat(o.slice(0,20)))
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k2j56</span>
<script>
 d.writeln(z.slice(20,60).concat(z.slice(0,20)))
 d.writeln(z.slice(55,60).concat(z.slice(0,55)))
 d.writeln(z.slice(35,60).concat(z.slice(0,35)))
 d.writeln(z.slice(10,60).concat(z.slice(0,10)))
 d.writeln(z.slice(45,60).concat(z.slice(0,45)))
 d.writeln(z.slice(20,60).concat(z.slice(0,20)))
</script>
</pre>
</div>
<script>
 var nt = new Date();
 var sr = document.getElementById("qe");
 sr.innerHTML=nt.getTime();
</script>
<div class="ftr">
<p class="attr">
Copyright &#169; 2013 Reid Netterville III</p>
</div>