<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j2y3</span>
<script>
  gstd(j2y3);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k2x1</span>
<script>
  gstd(k2x1);
</script>
</pre>
</div>
<script>
  serialism();
</script>
