<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j34k6</span>
<script>
  gstd(j34k6);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k17j5</span>
<script>
  gstd(k17j5);
</script>
</pre>
</div>
<script>
  serialism();
</script>
