<div class="srl">
 <ul>
  <li><a href="/"><span id='qe'></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j34k6</span>
<script>
  var o=j34k6;
  gstd()
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k17j5</span>
<script>
  var o=k17j5;
  gstd()
</script>
</pre>
</div>
<script>
  serialism()
</script>
<div class="ftr">
<p class="attr">
Copyright &#169; 2013-2015 Reid Netterville III</p>
</div>
