<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">j36</span>
<script>
  gstd(j36);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">k15</span>
<script>
  gstd(k15);
</script>
</pre>
</div>
<script>
  serialism();
</script>
