<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">j3k5x4</span>
<script>
  gstd(Aragonite.j3k5x4);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">k1j6y7</span>
<script>
  gstd(Aragonite.k1j6y7);
</script>
</pre>
</div>
<script>
  serialism();
</script>
