<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">k1j6</span>
<script>
  gstd(k1j6);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">j3k5</span>
<script>
  gstd(j3k5);
</script>
</pre>
</div>
<script>
  serialism();
</script>
