<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">k256</span>
<script>
  gstd(Aragonite.k256);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">j256</span>
<script>
  gstd(Aragonite.j256);
</script>
</pre>
</div>
<script>
  serialism();
</script>
