<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">k26</span>
<script>
  gstd(k26);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">j25</span>
<script>
  gstd(j25);
</script>
</pre>
</div>
<script>
  serialism();
</script>
