<div class="srl">
 <ul>
  <li><a href="/"><span id='qe'></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">k56</span>
<script>
  var o=k56;
  gstd()
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">j56</span>
<script>
  var o=j56;
  gstd()
</script>
</pre>
</div>
<script>
  serialism()
</script>
<div class="ftr">
<p class="attr">
Copyright &#169; 2013 Reid Netterville III</p>
</div>