<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">k56</span>
<script>
  gstd(Aragonite.k56);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">j56</span>
<script>
  gstd(Aragonite.j56);
</script>
</pre>
</div>
<script>
  serialism();
</script>
