<div class="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div class="obv">
<pre><span class="key">k56</span>
<script>
  gstd(k56);
</script>
</pre>
</div>
<div class="rev">
<pre><span class="key">j56</span>
<script>
  gstd(j56);
</script>
</pre>
</div>
<script>
  serialism();
</script>
