<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">k56x4</span>
<script>
  gstd(k56x4);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">j56y7</span>
<script>
  gstd(j56y7);
</script>
</pre>
</div>
<script>
  serialism();
</script>
