<!DOCTYPE html>
<html lang='en'>
 <head>
  <meta charset='utf-8'/>
  <title>Specie</title>
  <link rel="stylesheet" href="/style/main.css"/>
  <script src="/script/nacre.js"></script>
 </head>
<body>
<%= yield %>
</body>
</html>