<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Reid Netterville III">
  <title>Specie</title>
  <link rel="stylesheet" href="/style/main.css" type="text/css">
  <script src="/script/nacre.js" type="application/javascript"></script>
</head>
<body>
<%= yield %>
<div id="ftr">
  <p class="attr">Copyright © 2013-2016 Reid Netterville III</p>
</div>
</body>
</html>

