<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">n167x4</span>
<script>
  gstd(n167x4);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">n345y7</span>
<script>
  gstd(n345y7);
</script>
</pre>
</div>
<script>
  serialism();
</script>
