<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">n345</span>
<script>
  gstd(Aragonite.n345);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">n167</span>
<script>
  gstd(Aragonite.n167);
</script>
</pre>
</div>
<script>
  serialism();
</script>
