<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">n45y2</span>
<script>
  gstd(n45y2);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">n67x2</span>
<script>
  gstd(n67x2);
</script>
</pre>
</div>
<script>
  serialism();
</script>
