<div id="srl">
 <ul>
  <li><a href="/"><span id="qe"></span></a></li>
 </ul>
</div>
<div id="obv">
<pre><span class="key">n5y2</span>
<script>
  gstd(n5y2);
</script>
</pre>
</div>
<div id="rev">
<pre><span class="key">n6x2</span>
<script>
  gstd(n6x2);
</script>
</pre>
</div>
<script>
  serialism();
</script>
